.rating {
    width: 19%;
    margin: 15px auto;
}

textarea {

    width: 97%;
    min-height: 200px;
    direction: RTL;
}

form textarea {
    margin-top: 15px;
}

.ratingSubmit {
    margin-top: 25px;
    width: 25%;
}